/* src/components/hero.module.css */
.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100vh; /* Mengatur tinggi section menjadi 100% viewport height */
  max-width: 1280px; /* Atur lebar maksimum jika diperlukan */
  margin-top: -70px; /* Untuk membuat section berada di tengah layar */
}

.heroText {
  text-align: left;
  flex: 1;
}

.heroImage {
  flex: 1;
}

.heroImage img {
  max-width: 100%; /* Gambar mengisi lebar container */
  height: auto;
  position: relative;
  left: 100px; /* Ubah sesuai kebutuhan animasi */
  animation: floating 2s ease-in-out infinite; /* Menggunakan shorthand untuk animasi */
}

@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }
  50% {
      transform: translate(0, 10px);
  }
  100% {
      transform: translate(0, -0px);
  }
}
